.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 24px;
    background-color: #00354D;
    color: #ffffff;
    font-family: 'VW Head Bold', sans-serif;
    height: 64px;
    width: 100%;
}
.header__logo-container{
    display: flex;
    gap:16px;

    padding-right: 24px;
    align-items: center;
    justify-content: start;

}
.header__logo-container span{
    font-size: 18px;
    font-weight: bold;
    color:#ffffff;
}

.header div .logo{

}
.header__auth {
    display: flex;
    align-items: center;
}
.header__title{
    color:white;
}

.header__button {
    background-color: #ffffff;
    color: #001E50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.header__button:hover {
    background-color: #f0f0f0;
}

